/* _helper.scss */
// NON-SEMANTIC HELPER CLASSES 
// source: http://html5boilerplate.com/

// for image replacement
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

// Hide for both screenreaders and browsers
// css-discuss.incutio.com/wiki/Screenreader_Visibility 
.hidden { display:none; visibility:hidden; }

// Hide only visually, but have it available for screenreaders
// www.webaim.org/techniques/css/invisiblecontent/
// Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! 
 .visuallyhidden { position:absolute !important;  
	  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	  clip: rect(1px, 1px, 1px, 1px); }

// Hide visually and from screenreaders, but maintain layout 
.invisible { visibility: hidden; }
 
// >> The Magnificent CLEARFIX << 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

// NEW
.sprite {overflow:hidden;}
.button {cursor:pointer;}
.button.disabled,
.button.selected,
.button.active {cursor:default;}
.collapsed {display:none;}

// EXTRA NEW

// SUPER EXTRA NEW
.lt{float: left}
.rt{float: right}
.clear{clear: both}